/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Regular.otf") format("opentype");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/Proxima Nova Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Light.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas Neue Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas Neue Bold.ttf") format("truetype");
  font-weight: bold;
}
/* line 63, ../sass/screen.scss */
.row {
  width: 100%;
  margin-left: 0px;
  padding: 0px;
  max-width: 1367px;
  margin: auto;
}

/* line 72, ../sass/screen.scss */
html {
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

/* line 79, ../sass/screen.scss */
body {
  width: 100%;
  padding-right: 0px;
  border-top: 10px solid #ffd200;
  background-color: #dedede;
  overflow-x: hidden;
}
/* line 87, ../sass/screen.scss */
body .gradient {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10000px;
  background-image: radial-gradient(ellipse at top, #ffffff, rgba(0, 0, 0, 0));
  z-index: -1;
}
/* line 97, ../sass/screen.scss */
body .container {
  position: absolute;
  padding: 0px;
  width: 100%;
}
/* line 102, ../sass/screen.scss */
body .container .row.name {
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 102, ../sass/screen.scss */
  body .container .row.name {
    height: 100px;
  }
}
/* line 114, ../sass/screen.scss */
body .container .row.name h1 {
  margin-top: -70px;
  text-align: center;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 114, ../sass/screen.scss */
  body .container .row.name h1 {
    font-size: 1rem;
    margin-top: -20px;
  }
}
/* line 130, ../sass/screen.scss */
body .container .row.yellow {
  position: relative;
  height: 350px;
  background: #ffd200;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  padding: 0px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 130, ../sass/screen.scss */
  body .container .row.yellow {
    height: 220px;
  }
}
/* line 143, ../sass/screen.scss */
body .container .row.yellow .row.underyellow {
  max-width: 1367px;
  height: 350px;
}
/* line 149, ../sass/screen.scss */
body .container .row.yellow .top {
  position: absolute;
  margin-left: 30px;
  padding-top: 20px;
  font-size: 58px;
  font-weight: bold;
  color: black;
  font-family: Bebas Neue;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 149, ../sass/screen.scss */
  body .container .row.yellow .top {
    font-size: 1rem;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 149, ../sass/screen.scss */
  body .container .row.yellow .top {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 149, ../sass/screen.scss */
  body .container .row.yellow .top {
    font-size: 2.7rem;
  }
}
/* line 173, ../sass/screen.scss */
body .container .row.yellow .top hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 181, ../sass/screen.scss */
body .container .row.yellow .top .middle {
  display: block;
  position: absolute;
  width: 100%;
  font-size: 19px;
  font-weight: normal;
  text-transform: none;
  font-family: Proxima Nova;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 181, ../sass/screen.scss */
  body .container .row.yellow .top .middle {
    font-size: .7rem;
  }
}
/* line 196, ../sass/screen.scss */
body .container .row.yellow .top .bottom {
  position: absolute;
  margin-top: 20px;
}
/* line 202, ../sass/screen.scss */
body .container .row.yellow .top .bottom ul li {
  font-size: 19px;
  padding-left: 25px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 202, ../sass/screen.scss */
  body .container .row.yellow .top .bottom ul li {
    font-size: .7rem;
    padding-left: 10px;
  }
}
/* line 212, ../sass/screen.scss */
body .container .row.yellow .top .bottom ul li:before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  left: 0px;
  background-color: black;
  border-radius: 50%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 212, ../sass/screen.scss */
  body .container .row.yellow .top .bottom ul li:before {
    width: 6px;
    height: 6px;
  }
}
/* line 234, ../sass/screen.scss */
body .container .row.yellow .col-md-4 {
  position: relative;
  z-index: 1;
}
/* line 238, ../sass/screen.scss */
body .container .row.yellow .col-md-4 img {
  margin-left: -130px;
  margin-top: -20%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 238, ../sass/screen.scss */
  body .container .row.yellow .col-md-4 img {
    width: 250px;
    margin-left: -50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 238, ../sass/screen.scss */
  body .container .row.yellow .col-md-4 img {
    margin-left: 0px;
    width: 430px;
  }
}
/* line 254, ../sass/screen.scss */
body .container .row.yellow .col-md-3 {
  height: 100%;
  padding: 0px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 254, ../sass/screen.scss */
  body .container .row.yellow .col-md-3 {
    margin-top: -17px;
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 254, ../sass/screen.scss */
  body .container .row.yellow .col-md-3 {
    margin-top: -25px;
  }
}
/* line 267, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form {
  width: 100%;
  height: 100%;
  background-color: #3c3636;
  padding-top: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 267, ../sass/screen.scss */
  body .container .row.yellow .col-md-3 .form {
    padding-bottom: 20px;
  }
}
/* line 278, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form span {
  display: block;
  color: white;
  width: 100%;
  text-align: center;
  font-family: Proxima Nova Light;
  font-weight: lighter;
}
/* line 287, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form h1 {
  width: 100%;
  text-align: center;
  color: #ffd200;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 287, ../sass/screen.scss */
  body .container .row.yellow .col-md-3 .form h1 {
    font-size: 40px;
  }
}
/* line 301, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form form {
  padding-top: 30px;
  text-align: center;
}
/* line 306, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form form input[type='text'] {
  width: 90%;
  height: 55px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  font-family: Proxima Nova;
}
/* line 320, ../sass/screen.scss */
body .container .row.yellow .col-md-3 .form form input[type='submit'] {
  position: relative;
  width: 90%;
  height: 55px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  outline: none;
  background: linear-gradient(#ff78a0, #851737);
}
/* line 339, ../sass/screen.scss */
body .container .row.p2 {
  padding-bottom: 50px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  font-size: 28px;
  color: black;
  text-align: center;
  background-color: transparent;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 339, ../sass/screen.scss */
  body .container .row.p2 {
    padding-bottom: 20px;
    font-size: 25px;
  }
}
/* line 354, ../sass/screen.scss */
body .container .row.p2 .span {
  position: relative;
  display: inline-block;
  width: 600px;
  margin-top: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 354, ../sass/screen.scss */
  body .container .row.p2 .span {
    margin-top: 20px;
    width: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 354, ../sass/screen.scss */
  body .container .row.p2 .span {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 354, ../sass/screen.scss */
  body .container .row.p2 .span {
    margin-top: 0px;
  }
}
/* line 375, ../sass/screen.scss */
body .container .row.p2 .arrow {
  height: 130px;
  position: absolute;
  margin-top: -90px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 375, ../sass/screen.scss */
  body .container .row.p2 .arrow {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 375, ../sass/screen.scss */
  body .container .row.p2 .arrow {
    display: none;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 375, ../sass/screen.scss */
  body .container .row.p2 .arrow {
    margin-top: -110px;
  }
}
/* line 394, ../sass/screen.scss */
body .container .row.slider {
  position: relative;
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 0px;
}
/* line 405, ../sass/screen.scss */
body .container .row.slider .owl-carousel {
  width: 90%;
  margin: auto;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 405, ../sass/screen.scss */
  body .container .row.slider .owl-carousel {
    width: 100%;
  }
}
@media only screen and (min-width: 1441px) {
  /* line 405, ../sass/screen.scss */
  body .container .row.slider .owl-carousel {
    width: 100%;
  }
}
/* line 418, ../sass/screen.scss */
body .container .row.slider .left, body .container .row.slider .right {
  display: flex;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 5%;
  font-size: 24px;
  color: black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 418, ../sass/screen.scss */
  body .container .row.slider .left, body .container .row.slider .right {
    display: none;
  }
}
@media only screen and (min-width: 1441px) {
  /* line 418, ../sass/screen.scss */
  body .container .row.slider .left, body .container .row.slider .right {
    left: -5%;
  }
}
/* line 439, ../sass/screen.scss */
body .container .row.slider .right {
  right: 0px;
}
@media only screen and (min-width: 1441px) {
  /* line 439, ../sass/screen.scss */
  body .container .row.slider .right {
    left: 100%;
  }
}
/* line 447, ../sass/screen.scss */
body .container .row.slider .right img {
  transform: rotate(180deg);
}
/* line 452, ../sass/screen.scss */
body .container .row.slider .fr {
  display: inline-block;
  width: 50%;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}
/* line 459, ../sass/screen.scss */
body .container .row.slider .fr .row {
  height: 100%;
}
/* line 462, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-4 {
  padding: 0px;
  margin-right: -20px;
}
/* line 466, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-4 .mask {
  position: relative;
  width: 178px;
  height: 178px;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 466, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-4 .mask {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 466, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-4 .mask {
    margin: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 466, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-4 .mask {
    width: 140px;
    height: 140px;
  }
}
/* line 494, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-8 .rev {
  font-size: 18px;
  font-family: Proxima Nova;
  color: black;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 494, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-8 .rev {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 494, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-8 .rev {
    text-align: center;
  }
}
/* line 508, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-8 .hr {
  position: relative;
  margin-top: 30px;
  border-bottom: 1px solid #ffd200;
  margin-bottom: 30px;
}
/* line 515, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-8 .hr:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffd200;
  left: 0px;
  top: 1px;
}
/* line 526, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-8 .name {
  font-size: 28px;
  color: black;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 526, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-8 .name {
    font-size: 20px;
  }
}
/* line 537, ../sass/screen.scss */
body .container .row.slider .fr .row .col-md-8 .loc {
  font-size: 19px;
  font-family: "Proxima Nova Bold";
  font-weight: bold;
  color: black;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 537, ../sass/screen.scss */
  body .container .row.slider .fr .row .col-md-8 .loc {
    font-size: 14px;
  }
}
/* line 553, ../sass/screen.scss */
body .container .row.slider .fr:nth-child(2) .mask > img {
  width: 256px;
  height: 256px;
  position: absolute;
  bottom: 0px;
  left: -20%;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 553, ../sass/screen.scss */
  body .container .row.slider .fr:nth-child(2) .mask > img {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1364px) {
  /* line 553, ../sass/screen.scss */
  body .container .row.slider .fr:nth-child(2) .mask > img {
    width: 210px;
    height: 210px;
  }
}

/* line 577, ../sass/screen.scss */
::-webkit-input-placeholder {
  /* Chrome */
  color: black;
}

/* line 580, ../sass/screen.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

/* line 583, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  opacity: 1;
}

/* line 587, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}
